*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

:root {
    --boxShadow: 0 3px 4px rgba(0, 0, 0, 0.566);
    --rubik: 'Rubik Mono One', monospace;
    --blackBG: rgb(32, 33, 36)
}

body{
    margin:0;
    overflow:hidden;
}




